In [1]:
'''
 Descriptive Statistics - Measures of Central Tendency and variability 
Perform the following operations on any open source dataset (e.g., data.csv) 
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for 
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative 
(categorical) variable. For example, if your categorical variable is age groups and 
quantitative variable is income, then provide summary statistics of income grouped by the 
age groups. Create a list that contains a numeric value for each response to the categorical 
variable.  
2. Write a Python program to display some basic statistical details like percentile, mean, 
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ 
of iris.csv dataset. 
 
 Provide the codes with outputs and explain everything that you do in this step. 
'''

'\n Descriptive Statistics - Measures of Central Tendency and variability \nPerform the following operations on any open source dataset (e.g., data.csv) \n1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for \na dataset (age, income etc.) with numeric variables grouped by one of the qualitative \n(categorical) variable. For example, if your categorical variable is age groups and \nquantitative variable is income, then provide summary statistics of income grouped by the \nage groups. Create a list that contains a numeric value for each response to the categorical \nvariable.  \n2. Write a Python program to display some basic statistical details like percentile, mean, \nstandard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ \nof iris.csv dataset. \n \n Provide the codes with outputs and explain everything that you do in this step. \n'

In [ ]:
import numpy as np
speed=[3,1,1,2,2,2,1]

In [3]:
x=np.mean(speed)
print(x)

1.8333333333333333

In [4]:
x=np.median(speed)
print(x)

2.0

In [5]:
#Now lets see second method to find mean,median

In [6]:
x=len(speed)
y=sum(speed)
print("Mean:"+str(y/x))
# here we used str becuase print m hum string print krte h as we can see we had used + for concatenate string

Mean:1.8333333333333333

In [7]:
x=sorted(speed)
n=len(speed)
if n%2==0:
    a=x[n//2]
    b=x[n//2+1]
    median=(a+b)//2
else:
    median=(n+1)//2
print("Median:"+str(median))  
# // it returns integer value eg. 7//3=2

Median:2

In [5]:
import pandas as pd

# Sample Data
data = {
    'Age Group': ['Young', 'Middle-aged', 'Senior', 'Young', 'Middle-aged', 'Senior', 'Young', 'Middle-aged'],
    'Income': [30000, 45000, 60000, 32000, 47000, 62000, 31000, 48000]
}

# Create DataFrame
df = pd.DataFrame(data)

# Group by 'Age Group' and calculate summary statistics for 'Income'
df.groupby('Age Group')['Income'].describe()

,count,mean,std,min,25%,50%,75%,max
Age Group,,,,,,,,
Middle-aged,3.0,46666.666667,1527.525232,45000.0,46000.0,47000.0,47500.0,48000.0
Senior,2.0,61000.000000,1414.213562,60000.0,60500.0,61000.0,61500.0,62000.0
Young,3.0,31000.000000,1000.000000,30000.0,30500.0,31000.0,31500.0,32000.0

In [9]:
df.groupby('Age Group')['Income'].mean()

Age Group
Middle-aged    46666.666667
Senior         61000.000000
Young          31000.000000
Name: Income, dtype: float64

In [10]:
df.groupby('Age Group')['Income'].median()

Age Group
Middle-aged    47000.0
Senior         61000.0
Young          31000.0
Name: Income, dtype: float64

In [12]:
df.groupby('Age Group')['Income'].std()

Age Group
Middle-aged    1527.525232
Senior         1414.213562
Young          1000.000000
Name: Income, dtype: float64

In [13]:
df.groupby('Age Group')['Income'].min()

Age Group
Middle-aged    45000
Senior         60000
Young          30000
Name: Income, dtype: int64

In [14]:
df.groupby('Age Group')['Income'].max()

Age Group
Middle-aged    48000
Senior         62000
Young          32000
Name: Income, dtype: int64

In [6]:
df=pd.read_csv(r"Iris.csv")

In [18]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [19]:
print('Iris-setosa')
setosa = df['Species'] == 'Iris-setosa'
df[setosa].describe()

Iris-setosa

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [20]:
print('Iris-versicolor')
setosa = df['Species'] == 'Iris-versicolor'
df[setosa].describe()

Iris-versicolor

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [10]:
print('Iris-virginica')
virginica = df['Species'] == 'Iris-virginica'
df[virginica].describe()

Iris-virginica

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000